## import Libraries

In [3]:
import pandas as pd
import numpy as np 
import seaborn as se

In [4]:
data=pd.read_csv('uber-raw-data-aug14.csv')

In [5]:
print(data.head())

          Date/Time      Lat      Lon    Base
0  8/1/2014 0:03:00  40.7366 -73.9906  B02512
1  8/1/2014 0:09:00  40.7260 -73.9918  B02512
2  8/1/2014 0:12:00  40.7209 -74.0507  B02512
3  8/1/2014 0:12:00  40.7387 -73.9856  B02512
4  8/1/2014 0:12:00  40.7323 -74.0077  B02512

In [10]:
print(data)

                 Date/Time      Lat      Lon    Base
0         8/1/2014 0:03:00  40.7366 -73.9906  B02512
1         8/1/2014 0:09:00  40.7260 -73.9918  B02512
2         8/1/2014 0:12:00  40.7209 -74.0507  B02512
3         8/1/2014 0:12:00  40.7387 -73.9856  B02512
4         8/1/2014 0:12:00  40.7323 -74.0077  B02512
...                    ...      ...      ...     ...
829270  8/31/2014 23:55:00  40.7552 -73.9753  B02764
829271  8/31/2014 23:55:00  40.7552 -73.9753  B02764
829272  8/31/2014 23:55:00  40.7617 -73.9788  B02764
829273  8/31/2014 23:59:00  40.7395 -73.9889  B02764
829274  8/31/2014 23:59:00  40.7270 -73.9802  B02764

[829275 rows x 4 columns]

In [11]:
data[;Data/Time]

SyntaxError: invalid syntax (<ipython-input-11-c8d192327114>, line 1)

In [12]:
data['Date/Time']

0           8/1/2014 0:03:00
1           8/1/2014 0:09:00
2           8/1/2014 0:12:00
3           8/1/2014 0:12:00
4           8/1/2014 0:12:00
                 ...
829270    8/31/2014 23:55:00
829271    8/31/2014 23:55:00
829272    8/31/2014 23:55:00
829273    8/31/2014 23:59:00
829274    8/31/2014 23:59:00
Name: Date/Time, Length: 829275, dtype: object

In [13]:
data.tail()

                 Date/Time      Lat      Lon    Base
829270  8/31/2014 23:55:00  40.7552 -73.9753  B02764
829271  8/31/2014 23:55:00  40.7552 -73.9753  B02764
829272  8/31/2014 23:55:00  40.7617 -73.9788  B02764
829273  8/31/2014 23:59:00  40.7395 -73.9889  B02764
829274  8/31/2014 23:59:00  40.7270 -73.9802  B02764